.white-container {
  background-color: rgb(245, 245, 245);
}
.card {
  /* height: 100vh; */
  width: 90vw;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.card img {
  height: 90vh;
  width: 100%;
}
#mobileViewImg {
  display: none;
}
#desktopViewImg {
  display: block;
}
@media screen and (max-width: 768px) {
  .card {
    width: 100vw;
  }
  .card img {
    height: 50vh;
  }
  #mobileViewImg {
    display: block;
    position: relative;
    top: -10vh;
  }
  #desktopViewImg {
    display: none;
  }
}
@media screen and (max-width: 450px) {
  .card {
    width: 100vw;
  }
  .card img {
    height: 30vh;
  }
  #mobileViewImg {
    display: block;
    position: relative;
    top: -12vh;
  }
}
.card-section {
  position: absolute;
  top: 15%;
  left: 22%;
  display: flex;
  flex-direction: column;
}
.card-section .frontCard {
  position: relative;
  left: -10%;
  padding: 10px;
}
.card-section .backCard {
  position: relative;
  left: 5%;
  top: 80%;
  padding: 10px;
  margin-top: 18px;
}
@media screen and (min-width: 1600px) {
  .card-section {
    position: absolute;
    top: 20%;
    left: 25%;
    display: flex;
    flex-direction: column;
  }
  .card-section .frontCard {
    position: relative;
    left: -10%;
    padding: 10px;
  }
  .card-section .backCard {
    position: relative;
    left: 5%;
    top: 80%;
    padding: 10px;
    margin-top: 18px;
  }
}

@media screen and (max-width: 768px) {
  .card-section {
    position: absolute;
    top: 0%;
    left: 20%;
    display: flex;
    flex-direction: column-reverse;
  }
  .card-section .frontCard {
    position: absolute;
    left: -22%;
    top: 50%;
    width: 90%;
    padding: 30px;
    z-index: 1;
    /* display: none; */
  }
  .card-section .backCard {
    position: relative;
    left: -6%;
    width: 90%;
    /* top: -20%; */
    /* padding: 10px; */
    /* margin-top: 18px; */
  }
}
@media screen and (max-width: 450px) {
  .card-section {
    position: absolute;
    top: 5%;
    left: 20%;
    display: flex;
    flex-direction: column-reverse;
  }
  .card-section .frontCard {
    position: absolute;
    left: -22%;
    top: 50%;
    width: 90%;
    padding: 30px;
    z-index: 1;
    /* display: none; */
  }
  .card-section .backCard {
    position: relative;
    left: -6%;
    width: 90%;
    /* top: -20%; */
    /* padding: 10px; */
    /* margin-top: 18px; */
  }
}
