.front-img img {
  width: 350px;
  height: 200px;
}
.back-img img {
  width: 350px;
  height: 200px;
}
@media screen and (max-width: 768px) {
  .front-img img {
    width: 100%;
    height: 100%;
  }
  .back-img img {
    width: 100%;
    height: 100%;
  }
}
@media screen and (min-width: 1600px) {
  .front-img img {
    width: 420px;
    height: 230px;
  }
  .back-img img {
    width: 420px;
    height: 250px;
  }
}
