.front-img img {
  width: 350px;
  height: 200px;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.165) 0px 30px 60px -30px;
}
.back-img img {
  width: 350px;
  height: 200px;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.093) 0px 30px 60px -30px;
}
@media screen and (max-width: 768px) {
  .front-img img {
    width: 100%;
    height: 100%;
  }
  .back-img img {
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width: 400px) {
  .cvv {
    position: absolute;
    top: 30%;
  }
}
@media screen and (min-width: 1600px) {
  .front-img img {
    width: 420px;
    height: 230px;
  }
  .back-img img {
    width: 420px;
    height: 250px;
  }
}
.front-img {
  position: relative;
  display: flex;
  flex-direction: column;
}
.card-logo {
  position: absolute;
  top: 5%;
  left: 5%;
}
.card-logo img {
  width: 68px;
  height: 36px;
}
.card-number {
  position: absolute;
  top: 35%;
  left: 5%;
  width: 90%;
  font-size: 1.3rem;
  font-weight: 500;
  color: #fff;
  letter-spacing: 0.1rem;
  font-family: "Roboto", sans-serif;
}
.card-holder {
  width: 80%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 70%;
  left: 5%;
  font-size: 0.9rem;
  font-weight: 500;
  color: #fff;
  letter-spacing: 0.1rem;
  font-family: "Roboto", sans-serif;
}
.back-img {
  position: relative;
  display: flex;
  flex-direction: column;
}
.cvv {
  position: absolute;
  top: 37%;
  left: 79%;
  width: 90%;
  font-size: 0.9rem;
  font-weight: 500;
  color: #fff;
  letter-spacing: 0.1rem;
  font-family: "Roboto", sans-serif;
}
